 * {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  
}
body{
background-image:url("../img/480799.jpg");
background-size: cover;

}

.welcoming {
font-family:cursive;
}

a {
font-family: cursive;
color: black;
}


table,th,td {
  border: solid black 1px;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
  
} 
img{
  display: block;
  width: 35%;
  margin: 3% auto;
} 







